@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

.counter-container {
  max-width: 1100px;
}

.counter-main {
  height: 800px;
  border: lightblue 2px solid;
  width: 95%;
  margin-left: 35px;
}
.counter-img {
  width: 50%;
  margin-left: 8%;
  background-color: rgb(27, 27, 27);
  float: left;
  margin-top: 120px;
}
.qoute h2 {
  width: 30%;
  float: right;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 45px;
  margin-right: 70px;
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}

.counters {
  padding: 20px 20px;
  border-top: 2px lightskyblue solid;
  padding-left: 150px;
  margin-top: 50%;
}

.counters .counter-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.counters i {
  color: rgb(9, 11, 161);
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
  margin: 5px 0px;
  margin-bottom: -15px;
}

@media (max-width: 700px) {
  .counters .counter-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .counters .counter-container > div:nth-of-type(1),
  .counters .counter-container > div:nth-of-type(2) {
    border-bottom: 1px lightskyblue solid;
    padding-bottom: 20px;
  }
}
